.about-section {
    height: 100vh;
  padding: 80px 10%;
  background: #fff7f0;
}

.about-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-text h2 {
  font-size: 36px;
  color: #4b2e2e;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}